/*Navigation*/

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/*home section*/
#home{
   height:310px;
   padding: 3px 28px;
   
}
#home::before{
    height:480px;
    
 }
#home p{
    font-size: 16px;
}

/*services section*/
#services{
    flex-direction: column;


}
/*
#services .box{
    padding: 14px;
    margin: 2px;
    border-radius: 28px;
    
}*/
#services .box {
    padding: 24px;
    margin: 19px;
    border-radius: 28px;
}
#services .box img{
    height: 119px;


}


/*clients section*/
#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 200px;
    padding:50px;
    height: auto;
}

/*contact us section*/

#contact-box form{
    width:60%;

}

/*footer*/

/*utility classes*/

.h-primary{
    font-size: 40px;
}
.btn{
    font-size: 13px;
    padding: 4px 38px;
}
